<%- include ('partials/header') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Dream Sandwiches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/sandwiches">Shop</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Franchise</a></li>
            </ul>
            <form class="d-flex">
                <div class="text-center"><a class="btn btn-outline-light mt-auto" href="/signup">Signup</a></div>
            </form>
            
        </div>
    </div>
</nav>
<!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Experience what heaven tastes like!</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Fresh ingredients sourced from local farms coupled with our in house baked bread gurantees a taste you just can't get enough of.</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/sandwiches">Shop Now</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="/">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="images/main-page-sandwich.jpeg" alt="..." /></div>
            </div>
        </div>
    </header>
<!-- Section-->
<section class="py-5">
    <div class="container px-5 my-5" class="feature">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">An experience that lasts a lifetime.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <h2 class="h5">Fresh ingredients</h2>
                        <p class="mb-0">The meats and vegetables we use are sourced from local farmers with the most stringent quality checks.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <h2 class="h5">We bake our own bread</h2>
                        <p class="mb-0">That's right! Every morning, we bake our bread in our custom home-made ovens.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <h2 class="h5">Unlimited Dips</h2>
                        <p class="mb-0">The title says it all!</p>
                    </div>
                    <div class="col h-100">
                        <h2 class="h5">Craving one?</h2>
                        <p class="mb-0">Our franchises exist in around 250+ locations over 70 countries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial section-->
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"At Dream Sandwiches, we make the most delicious sandwiches with the freshest meat and highest quality ingredients. Taste and Quality are two things we're really good at."</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                            <div class="fw-bold">
                                Yash & Soham
                                <span class="fw-bold text-primary mx-1">/</span>
                                Founders, Dream Sandwiches
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action-->
    <div class="container px-4 px-lg-5 mt-5">
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">Want to know about our new products?</div>
                    <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                    </div>
                    <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                </div>
            </div>
        </aside>
    </div>
</section>

<%- include ('partials/footer') %>